.header,
.footer,
.info {
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding-left: 80px;
    padding-right: 80px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    padding: 4px;
    margin-right: auto;
    font-weight: bold;
}

.header-links {
    padding: 4px;
    margin-left: auto;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 20px;
}

.info {
    display: flex;
    padding-left: 160px;
    padding-right: 160px;
    padding: 80px;
    justify-content: center;
    gap: 10px;
}

.imagep {
    color: white;
    background-color: lightgray;
    padding: 40px;
    width: 200px;
    border: 2px solid #1f2937;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.infocontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    gap: 10px;
}

.infotitle {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.credit {
    justify-content: flex-end;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    margin: 0;
}

button,
.sign-up {
    background-color: #3882f6;
}

button {
    border: 1px white solid;
    color: white;
    align-self: flex-start;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    gap: 10px;
    margin: 20px;
    padding: 50px;
}

.imagecard {
    display: flex;
    gap: 10px;
}

.mainblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.imageborder {
    border: 2px solid #3882f6;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.maintitle {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}