.header,
.footer,
.info {
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    padding: 4px;
    margin-right: auto;
    font-weight: bold;
}

.header-links {
    padding: 4px;
    margin-left: auto;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-around;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.credit {
    justify-content: flex-end;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
}